@tailwind base;

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.banner-bg {
  background-image: url(/assets/images/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 180px;
}

.hidebar::-webkit-scrollbar {
  display: none; /* Chrome & Safari */
}

.hidebar {
  scrollbar-width: none;  /* Firefox */
}

.hide-section {}

@media only screen and (max-width: 768px) {
  .hide-section {
    display: none;
  }
}
